[Desktop Entry]
Version=1.0
Type=Application
Name=Edgeware++
Comment=Customizable popup program (18+)
Exec=edgeware
Icon=io.github.sirenondine.EdgewarePlusPlus
Terminal=false
Categories=Utility;
StartupWMClass=io.github.sirenondine.EdgewarePlusPlusRuntime
Actions=Config;

[Desktop Action Config]
Name=Configure Edgeware++
Exec=edgeware-config
